{{define "label"}}
<span style="display: inline-block; font-size: 12px; line-height: 1.2; padding: 0px 3px 0px 3px; border-radius: 2px; color: {{.FontColor}}; background-color: {{.Color.HexString}};">{{.Name}}</span>
{{end}}
