<html>
	<head>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
		<script src="/assets/script/script.js" type="text/javascript"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h2>comment.html</h2>
		{{template "comment" .Comment}}
		<pre>{{dump .Comment}}</pre>
	</body>
</html>

{{define "comment"}}
<div style="display: flex;">
	<a href="{{.User.HTMLURL}}" target="_blank">
		<img class="comment-avatar" alt="@{{.User.Login}}" width="48" height="48" src="{{.User.AvatarURL}}&amp;s=96">
	</a>
	<div class="list-entry" style="flex-grow: 1;">
		<div class="list-entry-header">
			<span class="content"><a class="black" href="{{.User.HTMLURL}}" target="_blank"><strong>{{.User.Login}}</strong></a> commented {{template "time" .CreatedAt}}</span>
			<span class="close"><a href="javascript:TODO();"><span class="octicon octicon-pencil"></span></a></span>
			<span class="close"><a href="javascript:TODO();"><span class="octicon octicon-x"></span></a></span>
		</div>
		<div class="list-entry-body">
			<div class="markdown-body">
				{{gfm .Body}}
			</div>
		</div>
	</div>
</div>
{{end}}

{{define "time"}}<abbr title="{{.}}">{{time .}}</abbr>{{end}}