<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		<div style="background-color: lightgray;">content</div>
		{{template "event" .Event}}
		<div style="background-color: lightgray;">content</div>
		<pre>{{dump .Event}}</pre>
	</body>
</html>

{{define "event"}}
<div class="list-entry event event-{{.Type}}">
	<span class="octicon {{(event .).Octicon}} event-icon"></span>
	<img class="inline-avatar" width="16" height="16" src="{{.Actor.AvatarURL}}">
	<span><a class="black" href="{{.Actor.HTMLURL}}" target="_blank"><strong>{{.Actor.Login}}</strong></a> {{.Type}} this {{template "time" .CreatedAt}}</span>
</div>
{{end}}
