<html>
	<head>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
		<script src="/assets/script/script.js" type="text/javascript"></script>
	</head>
	<body>
		<div>A beginning.</div>
		<pre>{{dump .Stuff}}</pre>
	</body>
</html>
