<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		{{template "issue" .}}

		<pre>{{dump .Issue}}</pre>
		<pre>{{dump .Comments}}</pre>
		<pre>{{jsonfmt .Issue}}</pre>
		<pre>{{jsonfmt .Comments}}</pre>
	</body>
</html>

{{define "issue"}}
	<h1>{{.Issue.Title}} <span class="gray">#{{.Issue.ID}}</span></h1>
	<div id="issue-state-badge" style="margin-bottom: 20px;">{{template "issue-badge" (printf .Issue.State)}}</div>
	{{range .Comments}}
		{{template "comment" .}}
	{{end}}
	{{range .Events}}
		{{template "event" .}}
	{{end}}
	<div id="new-comment-marker"></div>
	{{template "new-comment" .}}
{{end}}
